#*
.#*
*~
.mc-lists.el
.org-id-locations
.smex-items
abbrev_defs
ac-comphist.dat
auto-save-list/
backups/
.cask
.mc-lists.el
elpa/archives/marmalade/archive-contents
elpa/archives/melpa/archive-contents
eshell/
places
projectile-bookmarks.eld
request/
semanticdb/
tramp
url/
user/
